@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body {
    overflow: hidden;
}
section {
    display: flex;
    background: rgba(255,255,255,0.4);
    justify-content: center;
    align-items: center;
    min-height: 95vh;

}
section .blur_clr {
    position: absolute;
    filter: blur(300px);
}
section .blur_clr:nth-child(1) {
    background: orange;
    width: 300px;
    height: 800px;
    right: -50px;
    top: -250px;
}
section .blur_clr:nth-child(2) {
    background: orangered;
    width: 700px;
    height: 300px;
    left: -50px;
    bottom: -250px;
}
header {
    position: absolute;
    top: 0;
    width: 100%;
    backdrop-filter: blur(1px);
    background: rgba(255,255,255,.1);
    border-radius: 0 0 20px 20px;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    position: relative;
    font-size: 2.5em;
    color: orangered;
    justify-content: left;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
}
header .nav {
    position: relative;
    display: flex;
}
header .nav li {
    list-style: none;
    margin: 0 10px;
}
header .nav li a{
    color: orangered;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 25px;
    font-weight: 500;
    transition: 0.5s;
}
header .nav li a:hover {
    background: white;
    box-shadow: 0 5px 10px tan;
}
header .btn {
    background: orangered;
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 25px;
    font-weight: 500;
    transition: 0.5s;
}
header .btn:hover {
    transform: scale(0.9);
}
.content {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}
.content .contentBox {
    max-width: 500px;
    justify-content: space-evenly;
}
.content .contentBox .infoBox{
    top: 20px;
    left: 20px;
}
.content .contentBox h1{
    font-size: 3.5em;
    color: black;
    line-height: 1em;
    position: sticky;
}
.content .contentBox p{
    font-size: 1em;
    color: black;
    margin: 30px 10px;
}
.content .contentBox .btn{
    background: orangered;
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 25px;
    font-weight: 400;
    margin:10px;
    transition: 0.5s;
}

.content .contentBox .btn:hover {
    background: white;
    color: orangered;
    box-shadow: 0 5px 10px black;
}
.infoBox {
    bottom: 20px;
    position: absolute;
    background: rgba(255,255,255,.9);
    backdrop-filter:blur(20%);
    box-shadow: #151332;
    border-radius: 20px;
    left: 90px;
    display: flex;
}
.infoBox .box {
    margin: 15px 10px;
    display: flex;
    justify-content: center;
}
.infoBox .box i {
    font-size: 1.2em;
    color: orangered;
    margin: 10px;

}
.infoBox .box h4 {
    font-size: 1.3em;
    margin: 5px 0;
}
.infoBox .box p {
    font-size: 15px;
}